body {
  height: 210mm !important;
}

@page {
  size: A4 landscape;
}

@media print {
  .page-title ul {
    display: none;
  }
}

.reveal .slides section section {
  height: 209mm !important;
  min-height: 209mm !important;
  padding: 0 70px !important;
}

.reveal .slides section {
  padding: 0 !important;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides pre > code {
  font-family: "Inconsolata" !important;
}

.reveal .master-toc-return {
  display: none;
}

.reveal strong,
.reveal em {
    font-weight: bold;
}

/* Disables SVG decorations when printing to PDF because PhantomJS does not support that very well. */

.slides section > section:not([class^=page-]) {
    background: white no-repeat url('./images/slide-background.png');
}

.reveal section.page-title {
    background: #af1e3a no-repeat url('./images/slide-background-white.png');
}
